* {
  box-sizing: border-box;
}

.form {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 90%;
  margin: 30px auto;
  margin-bottom: 15px;
}

.form__input {
  outline: none;
  border: 1px solid hsl(0,0%,80%);
  border-radius: 4px;
  width: 30%;
  padding: 2px 10px;
  font-family: inherit;
  font-size: 1rem;
  color: rgb(51, 51, 51);
}

.form__input::placeholder {
  font-family: inherit;
  color: hsl(0,0%,50%);
  font-size: 1rem;
  padding: 0 2px;
}

.form__input:focus {
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
}

.form__select, .form__input {
  width: 30%;
  margin: 0 5px;
}

.form__btn {
  padding: 2px 10px;
  margin-left: 5px;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 4px;
  outline: none;
  border: none;
  color: #ffffff;
  background-color: #2684ff;
  line-height: 0;
  transition: all .3s ease;
  cursor: pointer;
}

.form__btn--disabled {
  border: 1px solid #2684ff;
  background-color: #DEEBFF;
  cursor: default;
}

.clocks {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.clock {
  margin: 10px;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 3px 2px 7px -2px hsl(0,0%,80%);
}

.clock__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 200px;
}

.react-clock {
  margin: 0 auto;
}

.clock__content p{
  margin: 0;
  margin-left: 15px;
  color: rgb(51, 51, 51);
  line-height: 0;
}

.clock__content span {
  color: #ff0000;
  margin-right: -4px;
  border-radius: 50%;
  transition: all .3s ease;
  cursor: pointer;
}

.clock__content span:hover {
  background-color: #ff8080;
  color: #fff;
}